<body>
  <script type="text/javascript" src="/js/sesiones.js">

  </script>





<h2>Partida creado -  <a href="/escoger">Ir al juego</a></h2>
<div class="">
    <a href="/admin/cerrar">Cerrar sesion</a>
</div>

<label for="">Id</label>
<h1>{{partida.id}}</h1>
<label for="">Puntaje</label>
<h1>{{partida.puntaje}}</h1>

<a href="/admin/partidas/{{partida.id}}/edit" type="button" class="btn btn-default btn-warning" >
  Editar Partida
</a>
<a href="/admin/partidas" type="button" class="btn btn-default btn-warning" >
  Ver Partidas
</a>
<a href ="/admin/vertablas"><button type="submit" class="btn btn-default success" >Menú</button></a>
</body>
