
<body>
  <script type="text/javascript" src="/js/sesiones.js">

  </script>

<div class="row">
<h1> DATABASE: TABLA PRODUCTOS </h1>
</div>


<div class="row">
<a href="/producto/ingreso" type="button" class="btn btn-default btn-warning" >Nuevo</a>
<a href="/" type="button" class="btn btn-default btn-warning" >Menú</a>


</div>
<div class="row pt-md-5"></div>
<table>
<tr>
  <h3><td>Id</td></h3>

  <td>NOMBRE</td>

  <td>PRECIO</td>
  <td> </td>
  <td></td>

</tr>

{{#each objProducto}}
<tr>


  <div class="row">
<div class="col-4 col-sm-1">
<td><h1>{{id}}</h1></td>



<td><h5>{{nombre}} </h5></td>


  <td><h5>{{precio}}</h5></td>
 </div>

    <div class="col-4 col-sm-1">
      <form action='/producto/{{id}}?_method=DELETE' method='post'>
    <td>    <button type="submit" class="btn btn-default btn-danger">borrar</button></td>
      </form>
    </div>

  </div>
  </tr>
{{/each}}
</table>

</body>
