

<body>


<form class="form" action="/producto/guardar" method="post">



  <div class="form-group">
    <img src="" alt="" id="img_foto" width="100" height="100">
  </div>





     <div class="form-group">
    <label for="title">Tipo:</label>
    <input type="text" class="form-control" id="nombre" placeholder="tipo" name="tipo"><!--req.body.name-->

  </div>

  <div class="form-group">
    <label for="title">Nombre:</label>
    <input type="text" class="form-control" id="nombre" placeholder="Nombre Completo" name="nombre"><!--req.body.name-->
  </div>
  <div class="form-group">
    <label for="title">Fecha Caducidad:</label>
    <input type="text" class="form-control" id="nombre" placeholder="Fecha Caducidad" name="fechacaducidad"><!--req.body.name-->
  </div>
  <div class="form-group">
    <label for="title">Fecha Produccion:</label>
    <input type="text" class="form-control" id="nombre" placeholder="Fecha Produccion" name="fechaproduccion"><!--req.body.name-->
  </div>
  <div class="form-group">
    <label for="title">Precio:</label>
    <input type="number" class="form-control" id="nombre" placeholder="PRECIO" name="precio"><!--req.body.name-->
  </div>

    <button type="submit"  id="guardarUser" class="btn btn-primary">Crear</button>


</form>
